.main {
  background-color: rgb(var(--secondary-color));
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  height: 93vh;
  overflow: hidden;

  .main-wrapper {
    margin-left: 6rem;
    margin-right: 2rem;

    .main-content {
      max-height: 75vh;
      overflow: hidden auto;
    }
  }
}
