.main {
  background-color: rgb(var(--secondary-color));
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  height: 94vh;
  overflow: hidden;

  .main-wrapper {
    padding-left: 6rem;
    // padding-right: 2rem;

    .main-content {
      height: 94vh;
      overflow: hidden auto;
    }

    .side-content {
      height: 94vh;
      overflow: hidden auto;
    }
  }
}
