// rightSide content- contacts section

.side-content {
  background-image: url("../images/dashboard/bg-shape1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
  background-size: 60%;
  .profile-wrap {
    .profile-img {
      .dropdown {
        .dropdown-menu {
          border: none;
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
          transform: translate3d(0px, 40px, 0px) !important;
          transition: transform 0.9s;
        }
      }
    }
  }
}

.contacts-heading {
  .search-contacts {
    // display: flex;
    // &:hover {
    //   .search-input {
    //     display: inline;
    //   }
    // }
    // .search-input {
    //   display: none;
    // }
  }
}

.all-contacts::-webkit-scrollbar {
  width: 0.4rem;
}

.all-contacts::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(var(--primary-color), 0.1);
}

.all-contacts::-webkit-scrollbar-thumb {
  background-color: rgba(var(--primary-color), 0.3);
  border-radius: 0.625rem;
}

.all-contacts {
  max-height: 290px;
  overflow: hidden scroll;
}

.contact {
  .contact-img {
    width: 50px;
    height: 50px;
    img {
      object-fit: cover;
    }
  }
}

.events-wrapper {
  .bell-icon {
    background: linear-gradient(90deg, red, purple);
    color: purple;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  //-----------lets-plan

  .lets-plan {
    span {
      background-color: rgb(var(--primary-color));
      border-radius: 30px;
      box-shadow: 0px 0px 3px 7px #fac8bf;
      cursor: pointer;
    }
  }
}
