@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: 255, 107, 66; //#fd7f5c
  --secondary-color: 250, 250, 250; //#fafafa
  --third-color: 222, 234, 248;
  --white-color: 255, 255, 255;

  --fx-white: 255, 255, 255;
  --muted-color: 127, 127, 127;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, #e2e5ee 67%, #ebc8c4 30%);
}

// scrollbar styles
.side-content::-webkit-scrollbar {
  width: 0.4rem;
  display: none;
}

// .all-contacts::-webkit-scrollbar {
//   width: 0.9rem;
// }

.main-content::-webkit-scrollbar {
  width: 0.4rem;
  display: none;
}

.main-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(var(--primary-color), 0.1);
}

.main-content::-webkit-scrollbar-thumb {
  background-color: rgba(var(--primary-color), 0.3);
  border-radius: 0.625rem;
}

a {
  text-decoration: none;
  // display: inline-block;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

hr {
  margin: 15px 0;
  border-top: 2px solid rgba(var(--muted-color), 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

// .h5,
// h5 {
//   font-size: clamp(0.8rem, 4vw, 1.25rem);
// }

.lh-15 {
  line-height: 15px;
}

.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}

.fs-7 {
  font-size: 0.8rem;
}

.fs-9 {
  font-size: 1.25rem;
}

.fs-10 {
  font-size: 1.3rem;
}

.fs-22 {
  font-size: 2.2rem;
}

.fs-28 {
  font-size: 2.8rem;
}

.text-muted {
  color: rgb(127 127 127 / 61%) !important;
}

.rounded {
  border-radius: 10px;
}
